* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: white;
  /* Adjusted for better visibility */
  /* box-shadow: 0px 5px 20px 2px rgb(0 0 0 / 0.35);  */
  background-color: rgb(21, 21, 30);
}
.popup {
  width: 25rem;
  min-height: 20rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.popup.settings {
  width: 25rem;
  min-height: 25rem;
}
nav {
  background-color: #4f46e5;
  height: 2em;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
  padding: 0.5rem;
}

nav h1 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-weight: 500;
}

nav button {
  font-size: 16px;
  outline: 0;
  border: 0;
  background-color: transparent;
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

nav .flex {
  flex: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Optional, removes any remaining margin */
}

.title {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(87, 74, 139);
}

#unsolved-message,
#solved-message,
#hyperTorture-message {
  text-align: center;
  padding: 0.5rem;
}

#unsolved-message {
  font-size: 0.85rem;
}
#solved-message {
  font-size: 1.5rem;
}
.leetcode-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#question-of-day-msg {
  font-size: 1.1rem;
}
#leetcode-problem-name {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
}

#leetcode-problem-button {
  background-color: #4f46e5;
  font-size: 1rem;
  border: none;
  width: 30%;
  border-radius: 10px;
  padding: 0.75rem;
  color: white;
  font-weight: 600;
}

#leetcode-problem-button:hover {
  cursor: pointer;
  background-color: #3c34b5;
}

#difficulty-selection {
  display: flex;
  font-size: 1.2em;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin: 1em auto 0 auto;
}

#difficulty-selection p {
  padding-right: 1em;
}

#difficulty-selection select {
  background-color: transparent;
  border: 1px solid gray;
  padding: 0.5em;
  color: white;
  border-radius: 0.3em;
  flex: 1;
  outline: 0;
  cursor: pointer;
}

#difficulty-selection select:hover {
  outline: 1px solid #ffffff80;
}

#difficulty-selection select option {
  color: black;
}
#current-streak-message,
#best-streak-message {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #4f46e5;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 1rem;
}
.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
}

.drawer.opened {
  right: 0;
}

.drawer .setting-labels {
  background-color: #15151e;
  height: 100%;
  font-size: 1em;
  padding: 1rem;
  list-style: none;
}

.setting-label {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.setting-labels li:nth-of-type(n + 2) {
  padding-top: 1rem;
}

.setting-labels .settings-problem-solved {
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1rem 1.5rem 1rem;
  font-weight: 700;
}
.setting-label p.name {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.2em;
}
.setting-label p.description {
  font-weight: 700;
  font-size: 0.8rem;
  color: #afaaaa;
}

.setting-label .setting-text {
  flex: 1;
}

.setting-label .setting-dropdown {
  background-color: transparent;
  color: #ffffff;
  outline: 0;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.setting-label .setting-dropdown option {
  background-color: #4f46e5;
}

.setting-label .setting-input {
  height: 1.3em;
  padding: 0.2em;
  width: 8em;
}

.permissions-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
}
