* {
  margin: 0;
  padding: 0;
}
body {
  width: 25rem;
  height: 15.5rem;
  color: white;
  box-shadow: 0px 5px 20px 2px rgb(0 0 0 / 0.35); /* Adjusted for better visibility */
  background-color: rgb(21, 21, 30);
}

nav{
  background-color: #4F46E5;
  height: 2em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
}

nav h1{
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-weight: 500;
}

nav .flex{
  flex: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Optional, removes any remaining margin */
}

.title {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(87, 74, 139);
}

#unsolved-message,
#solved-message {
  text-align: center;
  padding: 0.5rem;
}

#unsolved-message {
  font-size: 0.85rem;
}
#solved-message {
  font-size: 1.5rem;
}
.leetcode-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#question-of-day-msg {
  font-size: 1.1rem;
}
#leetcode-problem-name {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
}

#leetcode-problem-button {
  background-color: #4f46e5;
  font-size: 1rem;
  border: none;
  width: 30%;
  border-radius: 10px;
  padding: 0.75rem;
  color: white;
  font-weight: 600;
}

#leetcode-problem-button:hover {
  cursor: pointer;
  background-color: #3c34b5;
}

#current-streak-message, #best-streak-message {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem;
}

.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
}

.drawer.opened {
  right: 0;
}

.drawer .setting-labels{
  background-color: #15151E;
  height: 100%;
  font-size: 1em;
  padding: 1em;
  list-style: none;
}

.setting-label{
  display: flex;
  flex-direction: row;
  align-items: top;
}

.setting-labels li:nth-of-type(n+2){
  padding-top: 1em;
}

.setting-label p.name{
  font-size: 1.4em;
  font-weight: 700;
  padding-bottom: 0.2em;
}

.setting-label p.description{
  font-weight: 700;
  color: #AFAAAA;
}

.setting-label .setting-text{
  flex: 1;
}

.setting-label .setting-dropdown{
  background-color: transparent;
  color: #ffffff;
  outline: 0;
  border: 0;
  font-size: 1.4em;
  font-weight: 700;
  cursor: pointer;
}

.setting-label .setting-dropdown option{
  background-color: #4F46E5;
}

.setting-label .setting-input{
  height: 1.3em;
  padding: 0.2em;
  width: 8em;
}